<% @sale_product ||= Spree::SaleProduct.new %>

<%= form_for @sale_product, :url => admin_active_sale_active_sale_event_sale_products_url(@active_sale, @active_sale_event.id, @sale_product), :html => { :multipart => true } do |f| %>
  <div class="row">
    <%= f.hidden_field :active_sale_event_id, :value => @active_sale_event.id %>

    <div class="col-lg-12 col-sm-12">
      <div class="form-group">
        <%= f.label :product_name, Spree.t('active_sale.event.active_record.product_name', :default => :product_name), class: "text-md" %>
        <p class='hint'><%= Spree.t('active_sale.event.product_name_hint') %></p>
        <%= f.select(:product_id, {}, {}, id: "product_id", :multiple => false, class: "select2") %>
        <%= f.error_message_on :active_sale_event_id %>
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
      <div class="form-group">
        <div class="form-buttons filter-actions actions" data-hook="buttons">
          <%= button Spree.t(:add), 'icon-ok' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= link_to_with_icon 'icon-remove', Spree.t(:cancel), admin_active_sale_active_sale_event_sale_products_url(@active_sale, @active_sale_event), :id => 'cancel_link', :class => 'button' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $('#product_id').select2({
      ajax: {
        url: "<%= search_admin_active_sales_path %>",
        dataType: "json",
        processResults: function (data) {

          return {
            results: $.map( data["products"], function(product, i) {
              return { id: product["id"], text: product["name"] }
            })
          }
        }
      }
    });
  });
</script>
