<% content_for :page_title do %>
  <%= link_to Spree.t("active_sale.name"), spree.admin_active_sales_url %> /
  <%= link_to @active_sale.name, spree.admin_active_sale_url(@active_sale) %> /
  <%= link_to @active_sale_event.name, [:edit, :admin, @active_sale, @active_sale_event] %> /
  <%= Spree.t('active_sale.event.products.title.list') %>
<% end %>

<%= render :partial => 'spree/admin/shared/sale_tabs', :locals => { :current => 'Sale Event Products' } %>

<% single_product_sale = @active_sale_event.single_product_sale? && @sale_products.count >= 1 %>
<% unless single_product_sale %>
  <%= render :partial => 'form' %>
<% else %>
  <div class="no-objects-found">
    <%= Spree.t('active_sale.event.single_product_sale_message') %>
  </div>
<% end %>

<%= render :partial => 'spree/admin/shared/sale_products', :locals => { :sale_products => single_product_sale ? [@sale_products.first] : @sale_products } %>
