<%= render :partial => 'spree/admin/shared/sale_tabs', :locals => { :current => 'Sale Event Images' } %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @sale_image } %>

<% content_for :page_title do %>
  <%= link_to Spree.t("active_sale.name"), spree.admin_active_sales_url %> /
  <%= link_to @active_sale.name, spree.admin_active_sale_url(@active_sale) %> /
  <%= link_to @active_sale_event.name, [:edit, :admin, @active_sale, @active_sale_event] %> /
  <%= link_to Spree.t('active_sale.event.images.title.list'), admin_active_sale_active_sale_event_sale_images_url(@active_sale, @active_sale_event) %> /
  <%= @sale_image.attachment_file_name %>
<% end %>

<%= form_for [:admin, @active_sale, @active_sale_event, @sale_image], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="edit_image">
    <legend align="center"><%= @sale_image.attachment_file_name%></legend>
    <div data-hook="thumbnail" class="field alpha three columns align-center">
      <%= f.label Spree.t(:thumbnail) %><br>
      <%= link_to image_tag(main_app.url_for(@sale_image.url(:mini))), main_app.rails_blob_url(@sale_image.attachment) %>
    </div>
    <div class="nine columns omega">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>
    <div class="clear"></div>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t(:update), 'icon-refresh' %>
      <span class="or"><%= Spree.t(:or) %></span>
        <%= link_to_with_icon 'icon-remove', Spree.t(:cancel), admin_active_sale_active_sale_event_sale_images_url(@active_sale, @active_sale_event), :id => 'cancel_link', :class => 'button' %>
    </div>
  </fieldset>
<% end %>
