<% if @active_sale.try(:errors).present? %>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @active_sale } %>
<% end %>

<%= form_for [:admin, @active_sale] do |f| %>

  <fieldset data-hook="new_active_sale">

    <%= f.field_container :name do %>
      <%= f.label :name, t(:name) %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => 'fullwidth title' %>
      <%= f.error_message_on :name %>
    <% end %>

    <p class="form-buttons" data-hook="admin_active_sale_form_buttons">
      <% if @active_sale.new_record? %>
        <%= render :partial => 'spree/admin/shared/new_resource_links' %>
      <% else %>
        <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
      <% end %>
    </p>

  </fieldset>
<% end %>

<% unless @active_sale.new_record? %>
  <% if @active_sale.events.blank? %>
    <% @event = @active_sale.events.build %>
    <h4><%= t('spree.active_sale.event.create_if_no_record') %></h4>
    <%= render :partial => "spree/admin/events/form" %>
  <% else %>
    <% @events = @active_sale.events %>
    <%= render :partial => "spree/admin/shared/list_events", :locals => { :events => @events } %>
  <% end %>
<% end %>