<% if @active_sale.try(:errors).try(:present?) %>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @active_sale } %>
<% end %>

<%= form_for [:admin, @active_sale] do |f| %>

  <fieldset data-hook="new_active_sale" class="no-border-top">
    <div class="seven columns">
      <%= f.field_container :name do %>
        <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
        <%= f.text_field :name, :class => 'fullwidth title' %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>

    <div class="eight columns">
      <% unless @active_sale.new_record? %>
        <%= f.field_container :permalink do %>
          <%= f.label :permalink, raw(Spree.t(:permalink)) %> <span class="required">*</span><br />
          <%= f.text_field :permalink, :class => 'fullwidth title' %>
          <%= f.error_message_on :permalink %>
        <% end %>
      <% end %>
    </div>
    <div class="clear"></div>

    <p class="form-buttons" data-hook="admin_active_sale_form_buttons">
      <% if @active_sale.new_record? %>
        <%= render :partial => 'spree/admin/shared/new_resource_links' %>
      <% else %>
        <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
      <% end %>
    </p>

  </fieldset>
<% end %>

<% unless @active_sale.new_record? %>
  <% if @active_sale.active_sale_events.blank? %>
    <% @active_sale_event = @active_sale.active_sale_events.build(:name => @active_sale.name) %>
    <h4><%= Spree.t('active_sale.event.create_if_no_record') %></h4>
    <%= render :partial => "spree/admin/active_sale_events/form", :locals => { :events => @active_sale_event } %>
  <% else %>
    <% @active_sale_events = @active_sale.active_sale_events %>
    <%= render :partial => "spree/admin/shared/list_events", :locals => { :events => @active_sale_events } %>
  <% end %>
<% end %>