<% content_for :page_title do %>
  <%= Spree.t("active_sale.name") %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t("active_sale.new"), new_admin_active_sale_url, { class: "btn-success", icon: 'add.svg', id: 'admin_new_active_sale' } %>
<% end if can?(:create, Spree::ActiveSale) %>

<% content_for :table_filter do %>
  <div data-hook="admin_active_sales_sidebar">

    <%= search_form_for [:admin, @search] do |f| %>
      <%- locals = {f: f} %>
      <div data-hook="admin_active_sales_index_search" class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :search_by_name, Spree.t(:name) %>
            <%= f.text_field :name_cont, size: 15, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>
      </div>
      <div data-hook="admin_active_sales_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search.svg' %>
      </div>
    <% end %>

  </div>
<% end %>

<% if @active_sales.any? %>
<div class="table-responsive">
  <table class="table" id="listing_active_sales">
    <thead>
      <tr data-hook="admin_active_sales_index_headers">
        <th scope="col"><%= Spree.t("active_sale.name") %></th>
        <th scope="col"><%= Spree.t("active_sale.permalink") %></th>
        <th scope="col" data-hook="admin_active_sales_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @active_sales.each do |active_sale| %>
        <tr data-hook="admin_active_sales_index_rows" class="<%= cycle('odd', 'even') %>">
          <td><%= link_to active_sale.try(:name), edit_admin_active_sale_path(active_sale) %></td>
          <td><%= active_sale.permalink %></td>
          <td data-hook="admin_notifications_index_row_actions">
            <span class="d-flex justify-content-end">
              <%= link_to_edit active_sale, no_text: true, class: 'edit' if can?(:edit, active_sale) %>
              &nbsp;
              <%= link_to_delete active_sale, no_text: true if can?(:delete, active_sale) %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ActiveSale)) %>,
    <%= link_to Spree.t(:add_one), new_admin_active_sale_url if can?(:create, Spree::ActiveSale) %>!
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @active_sales } %>
