<% content_for :page_title do %>
  <%= link_to Spree.t("active_sale.name"), spree.admin_active_sales_url %> /
  <%= link_to @active_sale.name, spree.admin_active_sale_url(@active_sale) %> /
  <%= @active_sale_event.name %>
<% end %>

<%= render :partial => 'spree/admin/shared/sale_tabs', :locals => { :current => 'Sale Event Details' } %>

<div data-hook="admin_active_sale_event_edit_form">
  <%= render :partial => 'form' %>
</div>
