<% content_for :page_title do %>
  <%= @active_sale.name %> &#62; <%= t('spree.active_sale.event.title.new') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t('spree.active_sale.event.link.back'), [:admin, @active_sale, @active_sale_event], :icon => 'icon-arrow-left', :id => 'admin_new_active_sale_event_link' %>
  </li>
<% end %>

<div data-hook="admin_active_sale_event_edit_form">
  <div id="active-sale-event-form-wrapper">
    <%= form_for [:admin, @active_sale, @active_sale_event], :html => { :id => 'admin_active_sale_event', :multipart => true } do |form| %>
      <%= render :partial => 'form', :locals => { :form => form } %>
    <% end %>
  </div>
</div>
