<div id="images" data-hook></div>

<% unless @sale_images.any? %>
  <div class="no-objects-found">
    <%= Spree.t('active_sale.event.no_image') %>
  </div>
<% else %>
  <div class="table-responsive">
    <table class="table" id="listing_active_sale_events">
      <thead>
        <tr data-hook="images_header">
          <th scope="col" colspan="2"><%= Spree.t(:thumbnail) %></th>
          <th scope="col"><%= Spree.t(:alt_text) %></th>
          <th scope="col" data-hook="admin_active_sale_active_sale_event_images_index_header_actions" class="actions"></th>
        </tr>
      </thead>

      <tbody>
        <% @sale_images.each do |image| %>
          <tr id="<%= spree_dom_id image %>" data-hook="images_row" class="<%= cycle('odd', 'even')%>">
            <td class="no-border">
              <span class="handle"></span>
            </td>
            <td>
              <%= link_to image_tag(main_app.url_for(image.url(:mini))), main_app.rails_blob_url(image.attachment) %>
            </td>
            <td><%= image.alt %></td>
            <td class="actions" data-hook="admin_active_sale_events_index_row_actions">
              <p class="actions" data-hook="actions">
              <%= link_to_edit_url [:edit, :admin, @active_sale, @active_sale_event, image], :no_text => true %>
              &nbsp;
              <%= link_to_delete image, { :url => [:admin, @active_sale, @active_sale_event, image], :no_text => true } %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
